* {
  font-family: "Jura", sans-serif;
}

.underline {
  text-decoration: none;
  border-bottom: 4px solid #ff6363;
}

#header-nav ul a:hover,
#header-nav ul a:focus {
  text-decoration: underline;
  color: #ff6363;
  transition: 0.3s;
}

footer a, #section-2 a {
  color: white;
  text-decoration: underline;
}

footer a:hover,
footer a:focus,
#section-2 a:hover {
  text-decoration: underline;
  color: #ff6363;
  transition: 0.3s;
}

#section-1 {
  margin-bottom: 3rem;
  font-size: 1.3rem;
}

#section-1 h1 {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 1rem;
}

#section-2 {
  padding: 3rem;
  text-align: center;
  color: white;
  background-color: #3f3d56;
}


#section-3,
#section-4,
#section-5,
#section-6 {
  font-size: 1.3rem;
}

#section-6,
#sec-6-bg {
  background-color: #2f2e41;
  color: white;
}

footer {
  background-color: #222;
}

@media (max-width: 990px) {
  html {
    font-size: 0.85rem;
  }
  #slide-1-img {
      max-width: 70%;
      padding-top: 1rem;
  }
    .carousel-item {
    height: 45rem;
  }

  #hero-image {
    margin-top: 3rem;
    max-width: 90%;
  }
}


@media (max-width: 510px) {
  html {
    font-size: 0.75rem;
    }
  #hero-image {
      margin-top: 2rem;
      max-width: 100%;
  }

  #header-logo-link {
    width: 75%;
  }
  #header-logo {
    width: 100%;
  }
}

