* {
    font-family: 'Jura', sans-serif;
}




.underline {
    text-decoration: none;
    border-bottom: 4px solid #FF6363;
}

#header-nav ul a:hover, #header-nav ul a:focus{
    text-decoration: underline;
    color: #FF6363;
    transition: .3s;
}


footer a {
    color: white;
    text-decoration: underline;
}

footer a:hover, footer a:focus{
    text-decoration: underline;
    color: #FF6363;
    transition: .3s;
}

#section-1 {
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

#section-1 h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#section-2 {
    padding: 3rem;
    text-align: center;
    color: white;
    background-color: #3F3D56;
}

#section-3, #section-4, #section-5, #section-6 {
    font-size: 1.3rem;
}
#section-6, #sec-6-bg{
    background-color: #2F2E41;
    color: white;
}

footer {
    background-color: #222;
}

@media (max-width: 990px) {
    html {
        font-size: .85rem;
    }
}


@media (max-width: 410px) {
    html {
        font-size: .75rem;
    }

    .carousel-item {
        height: 45rem;
    }

    #header-logo-link {
        width: 75%;
    }
    #header-logo {
        width: 100%;
    }
}