* {
    font-family: 'Jura', sans-serif;
}




.underline {
    text-decoration: none;
    border-bottom: 4px solid #FF6363;
}

#header-nav ul a:hover, #header-nav ul a:focus{
    text-decoration: underline;
    color: #FF6363;
    transition: .3s;
}

#section-1 {
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

#section-1 h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#section-2 {
    padding: 3rem;
    text-align: center;
    color: white;
    background-color: #3F3D56;
}

#carousel {
    padding: 3rem;
}

#slide-1 {
    gap: 3rem;
}

