html {
    box-sizing: border-box;
    font-family: Archivo, sans-serif;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
body {
    margin: 0;
}

header {
    background-color: #2e2828;
    display: flex;
    flex: 0 0 auto;
}

.nav-logo {
    width: 240px;
    height: auto;
    margin: 10px;
    align-self: center;
}

.nav {
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: 20px;
}

.nav a{
    color: white;
    font-weight: 600;
    margin: 10px;
}

.client-portal {
    color: white;
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px;
    align-self: center;
}

/* Wave Background */
.wavecontainer svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}
.wavecontainer {
    display: inline-block;
    position: absolute;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
}
.wavecontainer body {
    overflow: hidden;
}