

body {
    margin: 0;
    background-color: blue;
}

header {
    display: flex;
    height: 45px;
    background-color: red;
}

.nav {
    background-color: red;
    color: white;
    font-size: 12px;

}

li {
    display: inline;
    padding-right: 10px;
    margin-bottom: 0;
}

.nav-logo {
    margin-top: -70px;
    margin-left: -50px;
    margin-right: -80px;
    width: 283px;
    height: 171px;
    z-index: 1;
}